<div class="section"></div>
<main>
	<div class="section"></div>

	<div class="container center">
		<div class="z-depth-1 grey lighten-4 row"
			style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

			<form class="col s12" [formGroup]="dataForm">
				<div class='row'>
					<div class='col s12'>
					</div>
				</div>

				<div class='row'>
					<div class='input-field col s12'>
						<input formControlName="passwordAct" class='validate' type='password' name='passwordAct'
							id='passwordAct' />
						<label for='passwordAct'>Contraseña Actual</label>
						<div class="errorValidation">
							<label
								*ngIf="GetDF['passwordAct'].errors && (dataForm.controls['passwordAct'].dirty || dataForm.controls['passwordAct'].touched)">
								La contraseña no cumple con los requisitos
							</label>
						</div>
					</div>
				</div>

                
				<div class='row'>
					<div class='input-field col s12'>
						<input formControlName="passwordNew" class='validate' type='password' name='passwordNew'
							id='passwordNew' />
						<label for='passwordNew'>Contraseña Nueva</label>
						<div class="errorValidation">
							<label
								*ngIf="GetDF['passwordNew'].errors && (dataForm.controls['passwordNew'].dirty || dataForm.controls['passwordNew'].touched)">
								La contraseña no cumple con los requisitos
							</label>
						</div>
					</div>
				</div>

				<br />
				<div class='row center'>
					<button [disabled]="dataForm.controls['passwordAct'].errors || dataForm.controls['passwordNew'].errors"
						type='button' (click)="Cambiar()" name='btn_login'
						class='col s12 btn btn-large waves-effect'>Cambiar Contraseña</button>
				</div>
			</form>
		</div>
	</div>

	<div class="section"></div>
	<div class="section"></div>
</main>