<nav class="nav-extended">
	<div class="nav-wrapper #0d47a1 blue darken-4">
		<a routerLink="home" class="brand-logo">Academico</a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li *ngIf="activeSessionRol"><a routerLink="parametros/listar-jurado">Jurado</a></li>
			<li *ngIf="activeSessionRol"><a routerLink="parametros/listar-proponente">Proponente</a></li>
			<li *ngIf="activeSessionRol"><a routerLink="parametros/listar-solicitud">Solicitud</a></li>
			<li *ngIf="activeSessionRol"><a routerLink="parametros/listar-areaInvestigacion">Area de Investigacion</a></li>
			<li *ngIf="activeSessionRol"><a routerLink="parametros/listar-modalidad">Modalidad</a></li>
			<li *ngIf="activeSessionRol"><a routerLink="parametros/listar-tipoVinculacion">Tipo Vinculacion</a></li>
			<li *ngIf="activeSessionRol"><a routerLink="seguridad/listar-usuario">Usuarios</a></li>
			<li *ngIf="activeSession"><a routerLink="seguridad/cambiar-clave">Cambiar Clave</a></li>
			<li *ngIf="!activeSession"><a routerLink="seguridad/inicio-sesion">Inicio Sesion</a></li>
			<li *ngIf="activeSession"><a routerLink="seguridad/cerrar-sesion">Cerrar Sesion</a></li>
		</ul>
	</div>
	<div class="nav-content #1565c0 blue darken-3">
		<ul class="tabs tabs-transparent">
		  <li class="tab" *ngIf="activeSessionRol"><a routerLink="parametros/listar-facultad">Facultad</a></li>
		  <li class="tab" *ngIf="activeSessionRol"><a routerLink="parametros/listar-departamento">Departamento</a></li>
		  <li class="tab" *ngIf="activeSessionRol"><a routerLink="parametros/listar-tiposComite">Tipos Comite</a></li>
		  <li class="tab" *ngIf="activeSessionRol"><a routerLink="parametros/listar-tipoSolicitud">Tipos Solicitud</a></li>
		  <li class="tab" *ngIf="activeSessionRol"><a routerLink="parametros/listar-invitacion">Invitaciones</a></li>
		  <li class="tab" *ngIf="activeSession"><a routerLink="parametros/listar-resultado-evaluacion">Evaluar Solicitudes</a></li>
		</ul>
	</div>
</nav>

<ul class="sidenav" id="mobile-demo">
	<li *ngIf="activeSessionRol"><a routerLink="parametros/listar-jurado">Jurado</a></li>
	<li *ngIf="activeSessionRol"><a routerLink="parametros/listar-proponente">Proponente</a></li>
	<li *ngIf="activeSessionRol"><a routerLink="parametros/listar-solicitud">Solicitud</a></li>
	<li *ngIf="activeSessionRol"><a routerLink="parametros/listar-areaInvestigacion">Area de Investigacion</a></li>
	<li *ngIf="activeSessionRol"><a routerLink="parametros/listar-modalidad">Modalidad</a></li>
	<li *ngIf="activeSessionRol"><a routerLink="parametros/listar-tipoVinculacion">Tipo Vinculacion</a></li>	
	<li *ngIf="activeSessionRol"><a routerLink="seguridad/listar-usuario">Usuarios</a></li>
	<li class="tab" *ngIf="activeSessionRol"><a routerLink="parametros/listar-facultad">Facultad</a></li>
	<li class="tab" *ngIf="activeSessionRol"><a routerLink="parametros/listar-departamento">Departamento</a></li>
	<li class="tab" *ngIf="activeSessionRol"><a routerLink="parametros/listar-tiposComite">Tipos Comite</a></li>
	<li class="tab" *ngIf="activeSessionRol"><a routerLink="parametros/listar-tipoSolicitud">Tipos Solicitud</a></li>

	<li *ngIf="activeSession"><a routerLink="seguridad/cambiar-clave">Cambiar Clave</a></li>
	<li *ngIf="!activeSession"><a routerLink="seguridad/inicio-sesion">Inicio Sesion</a></li>
	<li *ngIf="activeSession"><a routerLink="seguridad/cerrar-sesion">Cerrar Sesion</a></li>
</ul>